mat-divider {
    margin: 45px 35px;
}

.novo {
    background-color: var(--cor-terciaria);
    width: 15em;
    height: 4em;
}

.filtrar {
    background-color: var(--cor-primaria);
    color: whitesmoke !important;
    width: 15%;
}

.example-radio-group {
    display: flex;
    flex-direction: initial;
    align-items: flex-start;
}

.espacoAlbum {
    margin-bottom: 55px;
}

a {
    all: unset
}

#finalPagina{
    height: 60px;
}