mat-card {
    max-height: 350px;
    min-height: 300px;
}

a {
    all: unset;
    cursor: pointer;
}

mat-divider {
    margin-top: 15px;
}

img {
    margin-top: 15px;
    max-width: 250px;
    align-self: center;
}