<div class="page-container" id="type-income-list">

  <div class="row">

    <div class="col-md-3 col-12" *ngFor="let item of listaAlbum ">

      <a [href]="['album/' + item.id]" title="Acessar Álbum">

        <mat-card class="example-card">

          <img *ngIf="item?.fotos.length > 0" [src]="item?.fotos.at(0).imagem">

          <img *ngIf="item?.fotos.length == 0" src="../../../../assets/img/teste.jpg">

          <mat-divider></mat-divider>

          <mat-card-content>
            <div>
              <span>{{item.titulo}}</span>
            </div>
          </mat-card-content>

        </mat-card>

      </a>

    </div>

  </div>

</div>