<div>
    <h1>Sólides</h1>
    <h2>Tangerino</h2>
</div>

<div class="row mt-4">

    <div class="col-md-10 col-12">

        <div class="row ">

            <div class="col-md-4 col-12">
                <div class="conteudo">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit ullam accusamus dolor itaque aliquam
                        nesciunt, dicta nam, eius libero dignissimos officia aliquid quia nulla suscipit rerum animi
                        maxime?
                        Aliquid, sunt.</p>
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque sequi aliquid pariatur debitis
                        accusamus laboriosam quae voluptas porro facilis blanditiis, veniam tempora quibusdam,
                        asperiores
                        veritatis est, quam delectus dicta doloribus?</p>
                </div>
            </div>

            <div class="col-md-4 col-12 espacamento">
                <div class="conteudo">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui accusantium omnis ea maiores, quas
                        voluptatem cupiditate tenetur autem sit eos temporibus rem fugit quis, dolores assumenda,
                        aspernatur
                        repudiandae. Consequatur, consectetur.</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui accusantium omnis ea maiores, quas
                        voluptatem cupiditate tenetur autem sit eos temporibus rem fugit quis, dolores assumenda,
                        aspernatur
                        repudiandae. Consequatur, consectetur.</p>
                </div>
            </div>

        </div>

    </div>

    <div class="col-md-2 col-12 espacamentoMaior">
        <div class="col-12">
            <h3>TÍTULO</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae nam maxime praesentium eius,
                reprehenderit fugit sint culpa atque ducimus ratione vel? Aspernatur soluta sed perspiciatis quod
                doloremque aut officia commodi?</p>
        </div>
    </div>

</div>

<mat-divider></mat-divider>