<div id="paginator" *ngIf="maxPage > 1">

    <button class="arrow-button" [disabled]="pageIndex == 0" (click)="back()">
        <mat-icon>arrow_left</mat-icon>
    </button>

    <button class="number-button" *ngFor="let item of buttons" [ngClass]="{'selected': item == pageIndex + 1  }"
        (click)="showIndex(item)">{{item}}</button>

    <button *ngIf="maxPage > 4" class="number-button" (click)="more()">...</button>


    <button class="arrow-button" [disabled]="pageIndex + 1 == maxPage" (click)="next()">
        <mat-icon>arrow_right</mat-icon>
    </button>

</div>