mat-divider {
    margin-top: 5px;
    padding: 10px 20px;
}

.container {
    place-content: center;
    display: flex;
}

mat-card-content {
    align-self: center;
}

a {
    text-decoration: none;
}

.link {
    margin-top: 40px;
}

.createdFooter {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 10px;
    display: grid;
    justify-content: center;
}

.example-card {
    width: 75%;
}

.ml {
    margin-left: 1px;
}

@media only screen and (max-width: 768px) {
    .example-card {
        width: 100%;
    }
}
