#content-mt {
    margin-top: 15px;
}

.cancelar {
    margin-right: 30px;
}

.criar {
    width: 10em;
    background-color: var(--cor-primaria);
}

.upload {
    margin-top: 20px;
}

button,
span {
    color: white;
    font-size: 15px;
}