<div class="row espacoPost">

    <div class="col-12">

        <a [routerLink]="['novo']">
            <button mat-button class="novo">
                Criar Post</button>
        </a>
    </div>

</div>

<mat-divider></mat-divider>

<div class="row">

    <h2>FILTRAR POSTS</h2>

    <form [formGroup]="formFiltro">

        <div class="row">

            <div class="col-md-6 col-12">
                <mat-label>Texto</mat-label>
                <mat-form-field class="full-width" appearance="outline">
                    <i matPrefix class="fi fi-rr-envelope mr"></i>
                    <input matInput name="texto" formControlName="texto" placeholder="Ex. A vila é bela">
                </mat-form-field>
            </div>

            <div class="col-md-6 col-12">
                <mat-label>Link</mat-label>
                <mat-form-field class="full-width" appearance="outline">
                    <i matPrefix class="fi fi-rr-envelope mr"></i>
                    <input matInput name="link" formControlName="link" placeholder="Ex. www.google.com">
                </mat-form-field>
            </div>

        </div>

        <div class="row">

            <div class="col-md-2 col-6">
                <mat-label>Id</mat-label>
                <mat-form-field class="full-width" appearance="outline">
                    <i matPrefix class="fi fi-rr-envelope mr"></i>
                    <input matInput name="id" formControlName="id" placeholder="Ex. 1">
                </mat-form-field>
            </div>

            <div class="col-md-2 col-6">
                <mat-label>Somente Meus Posts</mat-label>
                <mat-radio-group class="example-radio-group" formControlName="meusPost">
                    <mat-radio-button [value]="true">Sim</mat-radio-button>
                    <mat-radio-button [value]="false">Não</mat-radio-button>
                </mat-radio-group>
            </div>

        </div>

        <div class="row">

            <div class="col-12">

                <button mat-button class="filtrar" (click)="filtrar()"><i class="fi fi-rr-check"></i>Filtrar</button>

            </div>

        </div>

    </form>

</div>

<mat-divider></mat-divider>

<div *ngIf="posts.content.length">
    <app-post-list [listaPost]="posts?.content"></app-post-list>
    <app-paginacao (page)="pageClick($event)" [pageIndex]="paginator.pageIndex" [pageSize]="paginator.pageSize"
        [totalElements]="paginator.totalElements!"></app-paginacao>
</div>

<div *ngIf="!posts.content.length">
    Sem posts cadastrados
</div>

<mat-divider id="finalPagina"></mat-divider>