.filtrar {
    background-color: var(--cor-primaria);
    color: whitesmoke !important;
    width: 15%;
}

mat-divider {
    margin: 45px 35px;
}

.novo {
    background-color: var(--cor-terciaria);
    width: 15em;
    height: 4em;
}

.espacoPost {
    margin-bottom: 55px;

}

a {
    all: unset
}

#finalPagina{
    height: 60px;
}