<a class="nav-link notDecor">

    <button class="btn botaoPerfil" [matMenuTriggerFor]="beforeMenu">
        <mat-icon>{{'menu'}}</mat-icon>

        <mat-menu #beforeMenu="matMenu" xPosition="before">

            <mat-divider></mat-divider>

            <button mat-menu-item (click)="redirecionarMeusPosts()">
                <mat-icon>{{'event_note'}}</mat-icon> Meus Posts
            </button>

            <mat-divider></mat-divider>


            <button mat-menu-item (click)="redirecionarMeusAlbuns()">
                <mat-icon>{{'picture_in_picture'}}</mat-icon> Meus Álbuns
            </button>

            <mat-divider></mat-divider>


            <button mat-menu-item (click)="logout()">
                <mat-icon>{{'logout'}}</mat-icon> Finalizar Sessão
            </button>
        </mat-menu>

    </button>

</a>