h3 {
    margin-top: 25px !important;
    margin-bottom: 5px;
}

.btnCreate {
    width: 90%;
    float: left;
}

@media only screen and (max-width: 768px) {
    .posicaoBotao {
        margin-bottom: 20px;
        margin-top: 5px;
    }
}

.criar {
    background-color: var(--cor-primaria);
    color: whitesmoke !important;
    width: 90%;
}

.posicaoBotao {
    align-self: center;
}